/* This is the stylesheet for Recipes */ 

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title{
    color: #ff8c00;
    font-size: 48px;
}

.links{
    color: #000000;
    font-size: 14px;
}
